/node_modules
/public/
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn--1563052921922-0.23539440688702506
v8-compile-cache-0